body{
    background-color: #070707;
    color:#E5BF4A;
    font-family: "Poiret One", sans-serif;
}
.head{
    display:flex;
    justify-content:space-between;
    align-items: center;
    /* border:1px solid white; */
    padding:20px;
}
.icons{
    display:flex;
    padding:0px;
    margin:20px;
    justify-content: space-between;
    /* border:1px solid yellow; */
    width:100px;
    color:white;
    cursor:pointer;
}
.scale-icon:hover{
    color: #E5BF4A;
    scale:1.5;
}
a{
    color:white;
}
.head-text img{
    margin-left:85px;
}
.call-btn{
    border:1px solid #E5BF4A;
    padding:10px;
    height:fit-content;
    width:fit-content;
    background-color: transparent;
    color:#E5BF4A;
    font-size:15px;
    font-weight: bold;
}
.call-btn:hover{
    background-color: #E5BF4A;
    color:#070707;
    cursor:pointer;
}
.nav{
    position: relative;
    top:-1px;
    /* border:1px solid white; */
}
.nav-list{
    display:flex;
    color:white;
    list-style-type: none;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
.nav-items a:hover{
    color:#E5BF4A;
    text-decoration: underline;
}
.nav-items a{
    text-decoration: none;
}
.nav-items{
    margin:0px 20px;
    text-decoration: none;
}
.nav-items:hover{
    color:#E5BF4A;
    cursor:pointer;
}
#menu-btn{
    font-size: 40px;
    width:max-content;
    height:100px;
    background-color: transparent;
    color:black;
    border:1px solid #000;
    border-radius: 1rem;
    font-family: "jost", sans-serif;
    padding:10px;
    font-weight:800;
    position:absolute;
    right:50px;
    bottom:1px;
    display:none;
}
.bg-img{
    background-image: url("cake-images/h1_hero1.jpg.webp");
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    margin-bottom:100px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
.hero-text{
    display:flex;
    flex-direction: column;
    justify-content:center;
    /* border:1px solid #E5BF4A; */
    font-size:50px;
    margin-left:80px;
    height:auto;
    color:white;
}
.order-btn{
    border:none;
    padding:20px;
    height:70px;
    width:150px;
    font-size:13px;
    background-color: #E5BF4A;
    letter-spacing: 2px;
    font-family: "Jost", sans-serif;
}
.order-btn:hover{
    background-color: transparent;
    color:#E5BF4A;
    border:1px solid #E5BF4A;
    cursor:pointer;
}
.burger-title{
    text-align:center;
    width:660px;
    font-size:50px;
    margin:auto;
    color:white;
}
.detail-grid{
    display:grid;
    grid-template-columns: auto auto;
    border-top:1px solid #E5BF4A;
    color:white;
    gap:20px;
    margin:20px 60px;
}
.more-info{
    font-weight:normal;
    font-size:25px;
    color:#E5BF4A;
}
/* .grid-items{
    border-top:1px solid #E5BF4A;
    border-width: 50%;
} */
.burger-div p{
    font-size:16px;
    font-family: "Jost", sans-serif;
    font-weight: 300;
    line-height:20px;
}
.burger-div{
    margin:0px 70px;
}
.burger-cake{
    /* border:1px solid white; */
    padding:23px;
}
#carousel-section{
    margin:80px 50px;
}
.carousel{
    display:flex;
    gap:20px;
    position:relative;
    :hover{
        .add-to-cart-btn{
            visibility:visible;
            cursor: pointer;
        }
    }
}
.cake-image{
    height:80%;
    width:90%;
    cursor:pointer;
}
/* .cake-image:hover{
    image-resolution:300px;
} */
.slide-btn{
    border:none;
    font-size:15px;
    color:#E5BF4A;
    background-color: transparent;
    cursor:pointer;
    opacity:70%;
    font-size:40px;
    /* background-color:blanchedalmond; */
}
.slide-btn:hover{
    opacity:100%;
}
#next{
    margin-left:0px;
}
.cake-name{
    font-weight: lighter;
    font-size:30px;
    color:white;
    margin-bottom:0px;
}
.cake-price{
    margin-top:6px;
    font-weight: lighter;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.item-3{
    margin-right:0px;
    /* background-color:bisque; */
}
.item-1, .item-2, .item-3{
    position:relative;
}
.add-to-cart-btn{
    position:absolute;
    bottom:77px;
    left:0px;
    height:40px;
    width:323px;
    font-family:"jost", sans-serif;
    background-color:#E5BF4A;
    border:none;
    font-weight:600;
    visibility: hidden;
}
#iframe-section{
    height:100vh;
    margin:90px;
    background-image: url("https://preview.colorlib.com/theme/cakeshop/assets/img/gallery/video-bg.jpg");
    position: relative;
}
.iframe-div{
    position:absolute;
    top:43%;
    right:45%;
    border-radius:50%;
    border:1px solid #E5BF4A;
    padding:2px;
}
#play-btn{
    /* position:absolute;
    top:43%;
    right:45%; */
    border:none;
    border-radius:50%;
    height:100px;
    width:100px;
    font-size: 40px;
    text-align: center;
    padding:auto;
    background-color:#E5BF4A;
}
#play-btn:hover{
    cursor:pointer;
    background-color: #fff;
}
#review-section{
    align-content: center;
    margin-bottom:90px;
}
.review-heading{
    font-size:50px;
    color:white;
    text-align:center;
    /* margin:auto; */
}
.review-div{
    display:flex;
    margin:10px 100px;
    border:1px solid white;
    border-left:none;
    border-right:none;
}
.reviews{
    padding:40px;
    /* border:1px solid #fff; */
}
.rating-stars{
    color:#E5BF4A;
}
.review-para{
    margin-top:20px;
    color:white;
    font-size:25px;
    font-family: "jost", sans-serif;
    line-height: 40px;
}
/* .review-1{
   border:1px solid #fff;
} */
.review-2{
    border:1px solid #fff;
}
/* .review-3{
    border:1px solid #fff;
} */
.profile{
    display:flex;
    color:white;
    margin-top:20px;
    font-size: 17px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-img{
    border-radius: 50%;
    height:50px;
    width:50px;
    margin-right:10px;
}
.blog-header{
    display:flex;
    justify-content:space-between;
    margin:30px 80px;
    align-items:center;
}
.big-font{
    font-size:16px;
    width:150px;
    height:60px;
}
.blog-div{
    display:flex;
    gap:15px;
    /* border:1px solid white; */
}
.blog-1{
    display:flex;
}
.blog-1-img{
    width:50%;
}
.blog-txt{
    border:1px solid rgb(218, 218, 218);
    padding:25px;
}
.blog-para{
    font-size:24px;
    font-weight:600;
    /* height:180px; */
    margin-top:0px;
    margin-bottom:20px;
}
.blog-detail{
    font-size:16px;
    color:white;
    font-family:"jost", sans-serif;
    font-weight:300;
    margin-top:0px;
    margin-bottom:50px;
}
.learn-more-btn{
    text-transform: uppercase;
    border:none;
    border-bottom:1px solid #E5BF4A;
    background-color: transparent;
    color:#E5BF4A;
    font-family:"jost", sans-serif;
    cursor:pointer;
    font-size:15px;
    margin-bottom:20px;
}
.learn-more-btn:hover{
    letter-spacing: 2px;
}
.head-and-btn{
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px dotted #fff; */
    align-items: center;
    margin:80px;
}
.head-and-btn h1{
    font-size:40px;
    color:white;
    font-weight:normal;
    text-align: center;
}
#fllw-insta{
    background-color: transparent;
    color:#E5BF4A;
    font-family:"jost", sans-serif;
    font-size:15px;
    padding:10px;
    border:1px solid #E5BF4A;
    width:150px;
    height:50px;
}
#fllw-insta:hover{
    /* background-color: #E5BF4A; */
    color:#ffd042;
    cursor: pointer;
    scale:1.2;
}
.insta-grid{
    display:flex;
    justify-content: center;
    gap:20px;
    img{
        width:20%;
    }
}
.last-header{
    display:flex;
    justify-content: space-between;
    margin:120px;
    margin-bottom:20px;
}
.low-opacity-hr{
    color:white;
    opacity:60%;
    width:85%;
}
.contact-div{
    display:flex;
    margin:30px 100px;
    padding-top:40px;
    color:white;
    justify-content: space-evenly;
    p{
        font-size:16px;
        font-weight: 400;
    }
}
.social-media-btns{
    width:100px;
    height:40px;
    padding:10px;
    border:1px solid white;
    color:white;
    background-color: transparent;
    font-family: "jost", sans-serif;
}
.social-media-btns:hover{
    color:#E5BF4A;
    scale:0.9;
    cursor:pointer;
    border-color:#E5BF4A;
}
.contact-txt{
    width:1250px;
    margin-right:40px;
    /* border:1px solid #fff; */
}
.yellow-txt{
    color:#E5BF4A;
    font-weight: 400;
}
.subtitle{
    font-family: "jost", sans-serif;
    font-weight: lighter;
    font-size: 190px;
}
.box-padding{
    padding-right:90px;
    width:400px;
    /* border:1px solid #fff; */
}
.contact-para{
    margin-bottom: 50px;
}
.bigger-icon{
    font-size:20px;
}
.bottomline{
    color:white;
    font-family: "jost", sans-serif;
    margin: 30px auto 20px auto;
    display: flex;
    justify-content:center ;
    font-size:14px;
    span, a{
        color:#E5BF4A;
    }
}
.sm-bottomline{
    display:none;
}
.no-underline{
    text-decoration: none;
}
/* Media Query */
@media only screen and (max-width:820px)
{
    body{
        overflow-x: hidden; 
    }
    .bg-img{
        width:1115px;
    }
    .head-text{
        img{
        margin-left:0px;
        width:100vh;
        }
    }
    .call-btn{
        display: none;
    }

    /* .nav-list{
            display:none;
    }
    .nav{
        width:1000px;
        height: 100px;
        padding:0px;
        background-color: #E5BF4A;
    }
    #menu-btn{
        display:block;        
    } */
     .nav-list{
        font-size: 30px;
        justify-content: center;
        width:1000px;
     }
    .icons{
        display: none;
    }
    .detail-grid{
        grid-template-columns: auto;
        width:100%;
    }
    #burger{
        width:1000px;
    }
    .burger-title{
        margin-left:150px;
    }
    .burger-details{
        border-top:1px solid #E5BF4A;
        p{
            font-size:40px;
            line-height: 50px;
        }
        h3{
            font-size:50px;
            text-align: center;
        }
    }
    .burger-cake img{
        width:800px;
    }
    #prev, #next{
        display:none;
    }
    .review-div, .blog-div, .blog-1, .carousel, .head, .contact-div, .last-header, .item-1, .item-2, .item-3{
        flex-direction: column;
        width:1000px;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
        margin:auto;
        margin-left:0px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top:20px;
    }
    .carousel{
        font-size: 30px;
        margin-left:50px;
    }
    #carousel-section{
        border-top:1px solid #E5BF4A;
        border-bottom: 1px solid #E5BF4A;
        width:1000px;
    }
    .cake-price{
        font-size:45px;
    }
    .cake-name{
        font-size: 70px;
    }
    .order-btn{
        font-size:30px;
        height:max-content;
        width:max-content;
    }
    #iframe-section{
        width:1115px;
        margin:auto;
        background-size: cover;
    }
    .review-para, .rating-stars{
        font-size: 40px;
        line-height: 70px;
    }
    .review-heading{
        text-align:center;
        width:1115px;
        font-size:80px;
    }
    #review-section{
        width:1000px;
    }
    .blog-div{
        margin-left:70px;
    }
    .review-2, .review-1, .review-3{
        border:none;
        border-top:1px solid #E5BF4A;
        border-bottom:1px solid #E5BF4A;
        width:1000px;
        padding-left:200px;
    }
    .add-to-cart-btn{
        bottom:250px;
        width:900px;
    }
    .contact-txt, .box-padding{
        margin:auto;
        flex-wrap: wrap;
        width:760px;
    }
    .location{
        margin-top:20px;
    }
    .insta-img{
        width:100%;
        image-orientation: flip;
    }
    #blog-section{
        width:1000px;
    }
    .blog-header{
        width:1000px;
        margin-left:40px;   
        p{
            text-align: left;
        }  
        button{
            font-size:40px;
            width:max-content;
        }
    }
    .blog-para{
        font-size:60px;
    }
    .blog-detail{
        font-size:50px;
    }
    .blog-div{
        margin-left:50px;
    }
    .learn-more-btn{
        font-size:40px;
    }
    .blog-1-img{
        width:100%;
    }
    .detail-grid{
        border:none;
    }
    #insta-section{
        width:1000px;
        margin-bottom:100px;
        margin-left:50px;
    }
    .head-and-btn{
        h1{
            font-size:60px;
            font-weight:900;
        }
    }
    #fllw-insta{
        font-size:40px;
        height:fit-content;
        width:fit-content;
    }
    .insta-grid{
        flex-direction: column;
        align-items: center;
        gap:50px;
        img{
            width:900px;
        }
    }
    .low-opacity-hr{
        width:1000px;
    }
    #contact-us-section{
        margin-left:50px;
        width:1000px;
        button{
            font-size:40px;
            height:fit-content;
            width:300px;
            padding:30px;
        }
    }
    .social-media-btn-div{
        display:flex;
        flex-wrap: wrap;
        gap:40px;
        width:700px;
        border:1px;
        justify-content: space-between;
        margin-top:50px;
    }
    .last-header{
        flex-direction:column;
        justify-content: flex-start;
        margin-bottom:20px;
    }
    .last-header{
        .nav-list{
            display:flex;
            flex-direction:row;
            justify-content: flex-start;
            font-size:40px;
        }
    }
    .contact-section-logo{
        width:940px;
    }
    .contact-section-logo img{
        width:500px;
        margin-left:0px;
        padding:0px;
    }
    .contact-para, .contact-txt{
        width:940px;
        margin:0px;
        p{
        font-size:50px;
        }
    }
    .box-padding{
        i{
            font-size:70px;
        }
        h2{
            font-size:70px;
        }
        p{
            font-size:50px;
        }
    }
    .location{
        margin-top:100px;
        margin-bottom:100px;
    }
    .lg-bottomline{
        display:none;
    }
    .sm-bottomline{
        display:block;
        font-size:30px;
        text-align:center;
    }
} 